@import "styles/abstracts/_variables";

.title {
  font-family: $serif-pro;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.mattressType {
  margin-bottom: 1rem;
}

.info {
  font-size: 1.5rem;
}

.price {
  font-size: 1.5rem;
  color: $color-main;
}

.sectionContainer {
  display: flex;
  margin: 2rem 8rem 0;
}

.imageContainer {
  width: 60%;
}

.image {
  width: 100%;
  height: 40rem;
  background-size: cover;
}

.section {
  width: 40%;
  margin-left: 5rem;
}

.buttonsContainer {
  display: flex;
}

.label {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.addToCartButton {
  margin-top: 6rem;
}
