@import "styles/abstracts/_variables";

.title {
  font-family: $serif-pro;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.mattressType {
  margin-bottom: 1rem;
}

.name {
  font-size: 1.5rem;
}

.price {
  font-size: 1.5rem;
  color: $color-main;
}

.sectionContainer {
  display: flex;
  margin: 2rem 8rem 0;
}

.imageContainer {
  width: 60%;
}

.image {
  width: 100%;
  height: 40rem;
  background-size: cover;
}

.section {
  width: 40%;
  margin-left: 5rem;
}

.buttonsContainer {
  display: flex;
  position: relative;
  overflow: hidden;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.addToCartButton {
  margin-top: 6rem;
  position: relative;
  overflow: hidden;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.starRatings {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .sectionContainer {
    flex-direction: column;
    flex: 1;
    margin-bottom: 2rem;
  }

  .imageContainer {
    width: 100%;
  }

  .section {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .sectionContainer {
    margin: 2rem 2rem;
  }
}
