$color-primary: rgb(255, 255, 255);
$color-secondary: rgb(246, 245, 243);
$color-terciary: rgb(165, 161, 155);
$color-quartery: rgb(206, 171, 109);

$color-main: rgb(165, 161, 155);
$color-notification: rgb(187, 151, 125);

// font-family
$serif-pro: "Source Serif Pro", serif;
